# Ignorar ambiente virtual do Python
venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de cache
*.cache
